<div ng-app="list_show" ng-controller="list_show_controller">
    <h1>{{main.name}}</h1>

    <div style="position: relative">
        <input type="text" ng-change="entryChanged()" ng-model="text"
               ng-keydown="specialKeys($event)"
        >
        Qty:
        <input type="text" ng-model=qty size="5"
               ng-keydown="qtySpecialKeys($event)">
        <div ng-show="matches.length > 0"
             style="top: 40; left: 0; absolute: true;
                    width: 100;
                    position: absolute;
                    background-color: black;
                    border: true;
                    auto: true;">
            <div ng-repeat="match in matches"
                 class="{{match.selected ? 'selected' : ''}}">
                <p>{{match.name}}
            </div>
        </div>
    </div>

    <ul>
        <li ng-repeat="item in main.items">
            <input type="checkbox" ng-model="item.selected">
            {{item.qty ? item.qty : ""}}
            {{item.units}}
            {{item.name}}
    </ul>
    <div>
        <button ng-click="saveList()">Save List</button>
        <button ng-click="clearList()">Clear</button>
        <button ng-click="expandTemplate()">Expand Template</button>
        <button ng-click="removeUnselected()">Remove Unselected</button>
        <p>My soul has no eyes.
    </div>
</div>
