/*
  A resource file that displays the sidebar on the bottom, giving a more
  mobile-friendly feel.
*/
body {
    color: #0ff;
    background-color: #000;
    font: 18px helvetica,sans-serif;
}

a {
    color: #fcc;
}

a:hover {
    background-color: #222
}

div.topbar h1 {
    font: 80px courier,sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #ff0;
}

h2 {
    color: #cc0;
}

h3 {
    color: #990;
}

input {
    color: #0ff;
    background-color: #111;
}

input[type=submit],input[type=reset],input[type=button] {
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid #222;
    border-top: 4px solid #222;
}

/* Give text inputs a sunken appearance */
input[type=text],input[type=password] {
    border-bottom: 4px solid #222;
    border-right: 4px solid #222;
    border-left: 4px solid black;
    border-top: 4px solid black;
}

pre {
    border: solid;
    border-width: 1;
    padding: 10px;
    border-color: #fff;
    color: #fff;
    background-color: #010;
    overflow: auto;
}

span.comment {
    color: #0f0;
}

span.keyword {
    color: #fff;
}

span.ident {
    color: #0ff;
}

span.symbol {
    color: #ff0;
}

span.number {
    color: #0ff;
}

span.string {
    color: #f0f;
}

span.istring {
    color: #f0f;
}

div.page {
    margin: auto;
    width: 900;
    top: 0;
    bottom: 0;
}

div.main {
    padding: 10px;
    background-color: #111;
}

div.topbar {
    padding: 10px;
    left: 10px;
    right: 10px;
    border: solid;
    border-width: 1px;
    border-color: #fff;
}

div.scrollpane {
    top: 0px;
    bottom: 100px;
    overflow: auto;
    width: 900px;
    position: absolute;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: #111;
}

div.bottombar {
    position: absolute;
    bottom: 0;
    height: 100;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    width: 880px;
    padding: 10;
    background-color: #111;
}

div.selected {
  background-color: #444;
}
